*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1600;
    margin:0 auto;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 120px;
    }

.navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.navbar ul a{
    text-decoration: none;
}    
.btn{
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #30b839;
    border-radius: 4px;
    cursor: pointer;
}
.btn2{
    border-radius: 2000px;
    padding: 8px 15px;
    color: #30b839;
    cursor: pointer;}
.btn3{
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;}

.hero{
    max-width: 1600px;
    min-height: 674px;
    padding: 70px 120px 135px;
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
.hero-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.hero-content .hero-heading1{
    font-size: 75px;
    font-weight: 700;
    color: #ffffff;
    line-height: 85px;
}
.hero-content .hero-heading2{
    font-size: 75px;
    font-weight: 700;
    color: #30b839;
    line-height: 85px;
}
.hero-content p{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 16px auto;
}
.hero .buttons{
    gap: 16px;
}
.notes{
    padding: 50px 120px 0;
    text-align: center;
    max-height: 448px;
    gap: 44px;
    background-color: whitesmoke;
}

.notes #section-head h1{
    font-size: 48px;
    font-weight: bold;
}
.notes #section-head p{
    font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #82627d;
}
#card-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 24px;
    margin: 45px auto;
    }
#card-box .section-cards{
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 24px;
    padding-bottom: 0;
    gap: 16px;
    max-width: 322px;
    min-height: 300px;
   /* box-shadow: 8px 0 10px rgba(0, 0, 0, 0.032);*/
    }
#card-box .section-cards img{
    background-color: #F95555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 12px;
    margin: 0 auto;
    
}
#card-box .section-cards h3{
    font-size: 20px;
    text-align: center;
}
#card-box .section-cards p{
    font-size: 14px;
    color: #82627d;
    max-width: 240px;
}
.second-brain{
    display: flex;
    margin: 120px;
    gap: 60px;
} 
.second-brain .brain-image{
    height: 600px;
    width: 600px;
    border-radius: 12px;
}
.brain-content{
    margin-top: 102px;
    margin-bottom: 102px;
    min-height: 336px;
    max-width: 700px;
    text-align: left;
}
.brain-content #brain-instruction{
    gap: 18px;
}
.brain-content h6{
    font-size: 14px;
    line-height: 20px;
    color: #30b839;
}
.brain-content h1{
    font-size: 35px;
    line-height: 58px;
}
.brain-content #section-text{
    font-size: 14px;
    line-height: 20px;
    color: #627382;
}

.second-brain .brain-tips{
    font-size: 16px;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    gap: 16px;
}
.brain-tips img{
    height: 16px;
    width: 16px;
    margin-right: 3px;
}
.brain-content p{
    display: flex;
    align-items: center;
}